@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #19333F; /* Background */
  --secondary: #84AAAF; /* Accent */
  --accent: #D4CDBB; /* Highlight */
  --text-light: #EDEDED; /* Light text for dark background */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #19333F;
    --foreground: #D4CDBB;
    --primary: #4B6B70;
    --secondary: #84AAAF;
    --accent: #D4CDBB;
    --text-light: #EDEDED;
  }
}

/* Apply Custom Styles Using Tailwind's `@layer` */
@layer utilities {
  .text-light {
    color: var(--text-light);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .text-primary {
    color: var(--primary);
  }

  .bg-secondary {
    background-color: var(--secondary);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .text-accent {
    color: var(--accent);
  }
}

/* Apply Global Styles */
body {
  @apply font-sans bg-primary text-light antialiased;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  overflow-x: hidden;
}
